*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
nav{
    display: grid;
    grid-template-columns: 1fr 4fr 200px;
    background-color: black;
    padding: 0 5% 0 2%;
    align-items: center;
    height: 50px;
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 0 20%;
}
nav ul li{
    list-style: none;
    color: white;
    height: 100%;
    width: 70px;
    cursor: pointer;
}
nav div:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
nav div p{
    color: white;
}
.location{
    display: grid;
    gap: 10px;
}
nav ul li:hover{
    line-height: 10px;
    border-bottom: 2px solid white;
}

section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 60vh;
    background-color: aqua;
}
aside {
    background-color: orange;
    height: 70vh;
    padding: 20%;
}
article {
    background-color: rgb(238, 255, 0);
    height: 70vh;
    padding-top: 20%;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 23vh;
}
footer .logo-footer{
    padding-right: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
}
footer .logo-footer img{
    height: 70%;
}

footer .down .store {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 7% 10%;
}
footer .down .store img{
    width: 50%;
}

footer .down .social{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 9%;
    position: relative;
    top: -15px;
}
footer .down .social div{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    
}
footer .down .social div img {
    width: 25px;
}
footer .down .social div:nth-of-type(3),footer .down .social div:nth-of-type(4){
    margin-top: 10px;
}
footer .pages-parent h3{
    display: grid;
    padding: 7% 10%;
}
footer .pages-parent .pages-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 10%;
}
footer .pages-parent .pages-child p:nth-of-type(3),footer .pages-parent .pages-child p:nth-of-type(4){
    margin-top: 5%;
}
footer .stars-footer{
    padding-right: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4%;
}
footer .stars-footer img{
    height: 80%;
}
